{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":10,"column":16},"action":"insert","lines":["beautifulsoup4~=4.6.3","Click~=7.0","Flask~=0.12.3","itsdangerous~=1.1.0","Jinja2~=2.10.1","lxml~=4.2.4","MarkupSafe~=1.1.0","pipenv~=2018.5.18","virtualenv~=16.0.0","virtualenv-clone~=0.3.0","Werkzeug~=0.14.1"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":16},"end":{"row":10,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1568362507851,"hash":"618797eb03216ca740f72fb2931c5edc8f1a1381"}